form {
  margin-left: 35%;
  margin-top: 1rem;
}
form button {
  background-color: teal;
  color: #FFF;
  border: none;
  border-radius: 3px;
  width: 80px;
}
.container {
  width: 100%;
  display: flex;
}
.day {
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
}
.day h2 {
  text-align: center;
}
.day img {
  width: 130px;
}
.day h3 {
  
}
