<form>
  <input type="text" name="" value="">
  <button type="button">GO</button>
</form>
<div class="container">
  <div class="day">
    <h2>Date</h2>
    <img src="http://openweathermap.org/img/w/01d.png" alt="icon">
    <h3>Max</h3>
    <h3>Min</h3>
  </div>
  <div class="day">
    <h2>Date</h2>
    <img src="http://openweathermap.org/img/w/01d.png" alt="icon">
    <h3>Max</h3>
    <h3>Min</h3>
  </div>
  <div class="day">
    <h2>Date</h2>
    <img src="http://openweathermap.org/img/w/01d.png" alt="icon">
    <h3>Max</h3>
    <h3>Min</h3>
  </div>
  <div class="day">
    <h2>Date</h2>
    <img src="http://openweathermap.org/img/w/01d.png" alt="icon">
    <h3>Max</h3>
    <h3>Min</h3>
  </div>
  <div class="day">
    <h2>Date</h2>
    <img src="http://openweathermap.org/img/w/01d.png" alt="icon">
    <h3>Max</h3>
    <h3>Min</h3>
  </div>
</div>
